<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="height: 4rem;">
    <%= link_to '/', class: "navbar-item" do%>
      <span class="title is-3" style="color: white;">🦊 Swiper</span>
    <% end %>

    
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
        <%= link_to 'Buy Swipes', listings_path, class: "navbar-item" %>
        <% if signed_in? %>
          <%= link_to 'Sell Swipes', new_listing_path, class: "navbar-item" %>
          <%= link_to 'My Transactions', profile_path(current_user.id), class: "navbar-item" %>
        <% end %>
    </div>
  </div>
    

    <div class="navbar-end">
          <% if signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <%= current_user.email.truncate(15) %>
              </a>

              <div class="navbar-dropdown">
                <%= link_to 'Settings', settings_path, class: "navbar-item" %>
                <hr class="navbar-divider">
                <%= link_to 'Sign Out', sign_out_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>
            
          <% else %>
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to 'Log In', sign_in_path, class: "button is-primary" %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</nav>