<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/navbar' %>

    <section class="section">
      <div class="container">

        <div id="flash" >
          <% flash.each do |key, value| %>
            <div class="flash <%= flash_class(key)%>"><%= value %></div>
          <% end %>
        </div>

        <%= yield %>
        
      </div>
    </section>
  </body>

  <%= render 'layouts/footer' %>
</html>