<div class="columns is-multiline">
    
    <div class="column is-half">
        <span class="title is-3">My Listings</span>
        <table class="table is-fullwidth is-hoverable">
            <thead class="thead">
                <th>Status</th>
                <th>Location</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <%= render @listings, show_status: true  %>
            </tbody>
        </table>
    </div>
    <div class="column is-half">
        <span class="title is-3">My Reservations</span>
        <table class="table is-fullwidth is-hoverable">
            <thead class="thead">
                <th>Location</th>
                <th>Price</th>
                <th>Reservation Time</th>
                <th>Reserved Amount</th>
            </thead>
            <tbody>
                <% @transactions.each do |transaction| %>
                    <tr class="transaction" id="transaction-<%= transaction.id%>">
                        <%# <td> <%= transaction.id%>
                        <td class="location">
                            <%= link_to location_to_string(transaction.location), listing_path(transaction) %>
                        </td>
                        <td class="price">
                            $<%= number_with_precision(transaction.price, precision: 2)%>
                        </td>
                        <td class="time">
                            <%= transaction.reserved_time.strftime("%l:%M %p")  %>
                        </td>
                        <td class="amount">
                            <%= transaction.reserved_amount %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="column">
        <span class="title is-3">History</span>
        <table class="table is-fullwidth is-hoverable">
            <thead class="thead">
                <th>Location</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <%= render @history%>
            </tbody>
        </table>
    </div>
</div>