<div class="section filter">
  <div class="box">
    <span class="title is-3">Filter</span>
    <%= form_with url: listings_path, method: :get, scope: :filter do |f|%>
    <div class="filter_section">
      <%= f.label :location, class: "label"%>
      <% Listing.locations.keys.each do |key| %>
        <div class="field">
          <%= f.check_box key, {checked: params[:filter].nil? || params[:filter][key] == '1'}%>
          <%= f.label "#{key}_label", key %>
        </div>
      <%end%>

      <div class="field">
        <%= f.label :price, class: "label"%>
        <%= f.number_field :price, placeholder: "Max price", step: 0.25, class: "input"%>
      </div>

      <div class="field ">
        <%= f.label :time, class: "label"%>
        <div class="is-grouped">
        
        <%= f.time_select :earliest, {minute_step: 15}, class: "select"%>
        to 
        <%= f.time_select :latest, {minute_step: 15}, class: "select"%>
        </div>
      </div>

      <div class="field">
        <%= f.label :amount, class: "label"%>
        <%= f.number_field :amount, step: 1, placeholder: "Min # of swipes", class: "input"%>
      </div>

      <%= f.label "Payment method:", class: "label" %>
      <div class="columns">
        <div class="column">
          <div class="field">
            <%= f.check_box :cash, class: "checkbox", checked: true %>
            <span class="title is-5">Cash</span>
          </div>
          
          <div class="field">
            <%= f.check_box :venmo, class: "checkbox", checked: true %>
            <%= image_tag "venmo.png", size: 75, alt: "Venmo" %>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <%= f.check_box :cashapp, class: "checkbox", checked: true %>
            <%= image_tag "cashapp.png", size: 75, alt: "Cash App" %>
          </div>

          <div class="field">
            <%= f.check_box :paypal, class: "checkbox", checked: true %>
            <%= image_tag "paypal.png", size: 75, alt: "PayPal" %>
          </div>
        </div>
      </div>
      <div class="control">
        <%= f.submit "Filter", class: "button is-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>