<% if @errors.present? %>
    <div class="errors">
        <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @listing do |form| %>
    <div id="clearance" class="new-listing-time columns" style="padding-top: 20px;">
        <div class="column is-one-half">
            <div class="field">
                <%= form.label :start_time, 'From', class: "label" %>
                <%= form.time_select :start_time, {ampm: true, prompt: true, minute_step: 15} %>
            </div>
        </div>

        <div class="column is-one-half">
            <div class="field">
                <%= form.label :end_time, 'To', class: "label" %>
                <%= form.time_select :end_time, {ampm: true, prompt: true, minute_step: 15}%>
            </div>
        </div>
    </div>

    <div class="field">
        <%= form.label 'Amount', class: "label" %>
        <%= form.number_field :amount, min: '1', step: '1', class: "input"%>
    </div>

    <div class="field">
        <%= form.label :price, class: "label" %>
        <%= form.text_field :price, type: 'number', min: '.25', step: '0.25', class: "input" %>
    </div>

    <div class="field">
        <%= form.label :location, class: "label" %>
        <div class="select">
            <%= form.select :location, Listing.locations.keys, class: "select" %>
        </div>
    </div>

    <div class="field">
        <%= form.label "Comment", class: "label" %>
        <%= form.text_field :description, class: "input" %>
    </div>
    

    <div class="actions" style="padding-top: 20px;">
        <%= form.submit 'Create Listing', class: "button is-primary" %>
    </div>
<% end %>