<tr class="listing" id="listing-<%= listing.id%>">
  <% if local_assigns[:show_status] %>
    <td class="status">
      <% if listing.buyer.nil? %>
      <span class="tag is-light">Open</span>
      <% else %>
      <span class="tag is-dark">Reserved</span>
      <% end %>
    </td>
  <% end %>
  <td class="location">
    <%= link_to listing.location, listing_path(listing) %>
  </td>
  <td class="price">
    $<%= number_with_precision(listing.price, precision: 2)%>
  </td>
  <td class="from">
    <%= listing.start_time.strftime("%l:%M %p") %>
  </td>
  <td class="to">
    <%= listing.end_time.strftime("%l:%M %p") %>
  </td>
  <td class="amount">
    <%= listing.amount%>
  </td>
</tr>