<div class="columns">
  <div class="column is-one-third"></div>
  <div class="column is-one-third">
    <div class="listing" id="listing-<%= @listing.id%>">
      <div class="level">
        <div class="level-left">
          <span class="title is-2 ">Listing</span>
        </div>
        <div class="level-right field is-grouped">
          <% if @listing.user_id == current_user.id %>
            <div class="control">
              <%= link_to "Edit", edit_listing_path(@listing), class: "button is-outlined is-primary" %>
            </div>
            <div class="control">
              <%= button_to "Delete", listing_path(@listing), data: {
                  confirm: "Are you sure you want to delete this listing?",
                  }, method: :delete, class: "button is-outlined is-danger" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%# <div> <%= listing.id%>
          <div class="field">
            <span class="title is-6">Status: </span>
            <% if @listing.buyer.nil? %>
              <span class="tag is-light is-medium">Open</span>
            <% else %>
              <span class="tag is-dark is-medium">Reserved</span>
            <% end %>
          </div>
          <div class="field">
            <span class="title is-6">Location: </span>
            <%= location_to_string(@listing.location) %>
          </div>
          <div class="field">
            <span class="title is-6">Price: </span>
            $<%= number_with_precision(@listing.price, precision: 2)%>
          </div>
          <div class="field">
            <span class="title is-6">Amount available: </span>
            <%= @listing.amount%>
          </div>

          <div class="field">
            <span class="title is-6">Start time:   </span>
            <%=   @listing.start_time.strftime("%l:%M %p") %>
          </div>
                
          <div class="field">
              <span class="title is-6">End time:   </span>
              <%=   @listing.end_time.strftime("%l:%M %p")%>
          </div>

          <% if @listing.user.contact && !@listing.user.contact.empty? %>
            <div class="field">
              <span class="title is-6">Seller contact info: </span>
              <%= @listing.user.contact %>
            </div>
          <% end %>

          <% if @listing.user.rating %>
            <div class="field">
              <span class="title is-6">Seller rating: </span>
              <%= number_with_precision(@listing.user.rating, precision: 1)%>
            </div>
          <% end %>
        </div>

        <div class="column">
          <span class="title is-6">Payment methods:</span><br />
          <% if @listing.user.cash %>
            <div class="padded-image">
              <span class="title is-4">Cash</span><br/>
            </div>
          <% end %>
          
          <% if @listing.user.venmo %>
          <%= image_tag "venmo.png", size: 100, alt: "Venmo", class: "padded-image" %>
          <% end %>

          <% if @listing.user.cashapp %>
          <%= image_tag "cashapp.png", size: 100, alt: "Cash App", class: "padded-image" %>
          <% end %>

          <% if @listing.user.paypal %>
          <%= image_tag "paypal.png", size: 100, alt: "PayPal", class: "padded-image" %>
          <% end %>
        </div>
      </div>

      <% if @listing.description && !@listing.description.empty? %>
        <div class="field">
          <span class="title is-6">Seller Comments: </span>
          <%= @listing.description%>
        </div>
      <% end %>

      <div style="padding-bottom: 1rem;"></div>
      <div>
        <% if @listing.buyer == current_user.id || (!@listing.buyer.nil? && @listing.user_id == current_user.id )%>
            <div class="field">
              <span class="title is-6">Amount reserved: </span>
              <%= @listing.reserved_amount %>
            </div>

            <div class="field">
              <span class="title is-6">Reservation time: </span>
              <%= @listing.reserved_time.strftime("%l:%M %p")%>
            </div>

        <% end %>

        <% if @listing.buyer == current_user.id %>
          <% if !@listing.completed%>
            <%= form_tag complete_listing_path(@listing) do %>
              <br><br><br>
              <%= label_tag "Rating", nil, class: 'label'%>
              <%= number_field_tag :rating, nil, in: 0...6, class: 'input' %>
              <p class="help">This is a rating from 0-5</p>
              <br><br>
              <%= submit_tag "Complete", class: 'button is-primary' %>
            <% end %>
          <% else %>
            <button class="button is-link" disabled>Completed</button>
          <% end %>
        <% elsif @listing.buyer != nil %>
          <button class="button is-success" disabled>Reserved</button>
        <% elsif current_user.id != @listing.user_id %>
          <%= form_for @listing, url: reserve_listing_path, method: "post" do |f|%>

            <div class="field">
              <%= f.label "Amount to Reserve", class: "label"%>
              <%= f.number_field :reserved_amount, min: '1', max: @listing.amount, step: '1', class: "input", :required => true%>
            </div>

            <div class="field" style="padding-top: 20px">
              <%= f.label 'Reservation time', class: "label" %>
              <%= f.time_select :reserved_time, {
                ampm: true,
                start_hour: @listing.start_time.strftime("%k").to_i,
                end_hour: @listing.end_time.strftime("%k").to_i,
                prompt: true,
                minute_step: 15
              } %>
            </div> 



            <%= f.submit "Reserve",
              class: "button is-primary" %>
          <% end %>
        <% end %>
      </div>
</div>
