
<tr class="listing" id="listing-<%= @listing.id%>">
  <%# <td> <%= listing.id%>
  <td class="location">
    <%= @listing.pretty_location() %>
  </td>
  <td class="price">
    $<%= number_with_precision(@listing.price, precision: 2)%>
  </td>
  <td class="amount">
    <%= @listing.amount%>
  </td>
</tr>

<div>
    <ul class="listing-actions">
        <li><%= link_to "Back", listings_path %></li>
        <li><%= link_to "Edit", edit_listing_path(@listing) %></li>
        <li><%= link_to "Delete", listing_path(@listing), data: {
            confirm: "Are you sure you want to delete this listing?",
        }, method: :delete %></li>
    </ul>
</div>